
@media (min-width: 640px) {
  .heroi__conteudo {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
  }
  .heroi__texto { text-align: left; }
  .heroi__tagline { margin: 0 0 var(--esp-3); }
  .heroi__acoes { justify-content: flex-start; }

  .sobre__grelha {
    grid-template-columns: 240px 1fr;
    align-items: start;
  }

  .midia-grelha {
    flex-direction: row;
  }
  .midia-grelha .midia { flex: 1; }

  .lista-hobbies { justify-content: flex-start; }
}

